@import url(https://fonts.googleapis.com/css?family=Montserrat:regular);
@import url(https://fonts.googleapis.com/css?family=Lato:regular);

header {
	width: 100%;
	position: fixed;
	z-index: 999;
}

/* Container max-width */
[class*="__container"] {
	max-width: 58.75em;
	margin: 0 auto;
}

/* Wrapper */

.wrapper {
	background: url("../img/bg.jpg") center fixed;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/* Content */

.content {
	padding: 0px 15px;
	flex: 1 1 auto;
}

/* Header */

.header {
	width: 100%;
	padding: 0px 20px;
	top: 0;
	left: 0;
	z-index: 50;
	transition: 0.4s;
}

.header::before {
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
}

.header__body {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
}

.header__logo {
	padding: 60px 0px 30px 0px;
}

.header__list {
	display: flex;
	gap: 80px;
	position: relative;
	z-index: 2;
}

.header__link {
	position: relative;
}

.header__link::after {
	content: "";
	position: absolute;
	background-color: #6c757d;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: all 0.3s;
}

.header__link:hover {
	color: #000000;
}

.header__link:hover::after {
	width: 100%;
}

/* Header Burger */

@media (max-width: 70.688em) {
	.header__burger {
		display: block;
		height: 20px;
		width: 30px;
		position: relative;
		order: 3;
		z-index: 3;
	}

	.header__burger span {
		height: 2px;
		width: 100%;
		top: 9px;
		left: 0;
		position: absolute;
		background-color: #000;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before,
	.header__burger::after {
		content: "";
		height: 2px;
		width: 100%;
		left: 0;
		position: absolute;
		background-color: #000;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__burger.active::before {
		top: 9px;
		transform: rotate(45deg);
	}

	.header__burger.active::after {
		bottom: 9px;
		transform: rotate(-45deg);
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__menu {
		height: 100%;
		width: 100%;
		top: -100%;
		left: 0;
		position: fixed;
		padding: 70px 10px 0px 10px;
		background-color: #ffffff;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}

	.header__menu.active {
		top: 0;
	}

	.header__body {
		height: 50px;
	}

	.header__logo {
		flex: 0 0 40px;
	}

	.header__list {
		display: block;
	}

	.header__list li {
		margin: 0px 0px 20px 0px;
	}

	.header__link {
		font-size: 1.5rem;
	}
}

/* Disabling out of burger menu scroll */

@media (max-width: 70.688em) {
	body.lock {
		overflow: hidden;
	}
}
