@import url(https://fonts.googleapis.com/css?family=Montserrat:regular);
@import url(https://fonts.googleapis.com/css?family=Lato:regular);

header {
	width: 100%;
	z-index: 999;
}

/* Container max-width */
[class*="__container"] {
	margin: 0 auto;
}

/* Wrapper */

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/* Page */

.page {
	background: rgba(0, 0, 0, 0.4) url("../img/bg.jpg") center;
	background-size: cover;
	background-blend-mode: darken;
	padding: 0px 15px;
	flex: 1 1 auto;
}

/* Header */

.header {
	width: 100%;
	padding: 0px 20px;
	margin-bottom: 40px;
	top: 0;
	left: 0;
	z-index: 50;
	transition: 0.4s;
}

.header__container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 47.375em) {
	.header__container {
		align-items: flex-end;
	}
}

.header__body {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.header__logo {
	margin: 0 auto;
	padding: 60px 0px 50px 0px;
}

.header__list {
	display: flex;
	gap: 40px;
	position: relative;
	z-index: 2;
}

.header__link {
	position: relative;
}

.header__link::after {
	content: "";
	position: absolute;
	background-color: #ffffff;
	height: 2px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: all 0.3s;
}

.header__link:hover::after {
	width: 100%;
}

.header__other {
	display: flex;
}

.header__other .header__link {
	margin: 0px 20px;
}

@media (max-width: 47.375em) {
	.header__other {
		display: flex;
		flex-direction: column;
	}

	.header__other .header__link {
		margin: 0px;
	}
}

/* Header Burger */

@media (max-width: 47.375em) {
	.header__burger {
		display: block;
		height: 20px;
		width: 30px;
		position: relative;
		order: 3;
		z-index: 3;
	}

	.header__burger span {
		height: 2px;
		width: 100%;
		top: 9px;
		left: 0;
		position: absolute;
		background-color: #ffffff;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before,
	.header__burger::after {
		content: "";
		height: 2px;
		width: 100%;
		left: 0;
		position: absolute;
		background-color: #ffffff;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__burger.active::before {
		top: 9px;
		transform: rotate(45deg);
	}

	.header__burger.active::after {
		bottom: 9px;
		transform: rotate(-45deg);
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__menu {
		height: 100%;
		width: 100%;
		top: -100%;
		left: 0;
		position: fixed;
		padding: 250px 10px 0px 10px;
		background-color: #000000;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}

	.header__menu.active {
		top: 0;
	}

	.header__body {
		height: 50px;
	}

	.header__logo {
		flex: 0 0 40px;
	}

	.header__list {
		display: block;
	}

	.header__list li {
		margin: 0px 0px 20px 0px;
	}

	.header__link {
		font-size: 1.5rem;
	}
}

/* Disabling out of burger menu scroll */

@media (max-width: 45.25em) {
	body.lock {
		overflow: hidden;
	}
}

/* Post */

.blog__container {
	max-width: 800px;
	margin-bottom: 100px;
}

.blog__wrapper {
	display: flex;
	flex-direction: column;
	background: url("../img/main/1.jpg") center no-repeat;
	background-size: cover;
	min-height: 330px;
	padding: 25px 25px 20px 60px;
}

.blog__wrapper:nth-child(3) {
	background: url("../img/main/2.jpg") center no-repeat;
	background-size: cover;
}

.blog__wrapper:nth-child(5) {
	background: url("../img/main/3.jpg") center no-repeat;
	background-size: cover;
}

.blog__signature {
	padding-bottom: 100px;
	display: flex;
	justify-content: flex-end;
	letter-spacing: 1px;
}

.blog__signature p {
	font-size: 0.65rem;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	padding: 10px 20px;
}

.blog__author {
	display: flex;
	margin-bottom: 25px;
}

.blog__info {
	padding-left: 15px;
}

.blog__name {
	font-size: 1.125rem;
	padding-bottom: 7px;
}

.blog__data {
	font-size: 0.8125rem;
	font-family: "Lato";
}

.blog__title {
	font-size: 1.75rem;
	max-width: 30ch;
	line-height: 35px;
}

.blog__description {
	background-color: #ffffff;
	font-family: "Lato";
	color: #000000;
	min-height: 150px;
	padding: 35px 50px;
}

.blog__text {
	padding-bottom: 20px;
	max-width: 80ch;
	font-size: 1.125rem;
	line-height: 25px;
}

.blog__button {
	font-size: 1.1rem;
	color: #8d4fdb;
}

.blog__button::after {
	content: "→";
	padding-left: 6px;
}

.blog__button:hover {
	color: #490997;
	transition: 0.3s all;
}

.blog__readmore {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #f1f1f1;
	min-height: 220px;
}

.blog__readmore p {
	color: #000000;
	font-size: 30px;
	padding-bottom: 30px;
}

.blog__visit {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 40px;
	min-height: 40px;
	background-color: #8d4fdb;
}

.blog__visit:hover {
	background-color: #490997;
	transition: 0.3s all;
}

/* Stories */
.stories__container {
	background-color: #ffffff;
	max-width: 940px;
	padding: 90px 30px;
}

.stories__title {
	margin-bottom: 30px;
	font-size: 40px;
	color: #333333;
	text-align: center;
}

.stories__subtitle {
	margin-bottom: 50px;
	font-size: 24px;
	color: #a9afb3;
	text-align: center;
}

.stories__posts {
	display: flex;
	gap: 20px;
	margin-bottom: 55px;
}

@media (max-width: 37.75em) {
	.stories__posts {
		display: flex;
		flex-direction: column;
		max-width: 280px;
		margin: 0 auto;
	}
}

.stories__body {
	min-height: 190px;
	width: 100%;
	padding: 25px;
	margin-bottom: 20px;
	display: flex;
	align-items: flex-end;
	background: url("../img/stories/f-1.png") no-repeat center;
	background-size: cover;
}

.stories__body--two {
	background: url("../img/stories/f-2.png") no-repeat center;
	background-size: cover;
}

.stories__body--three {
	background: url("../img/stories/f-3.png") no-repeat center;
	background-size: cover;
}

.stories__author {
	display: flex;
}

.stories__author img {
	width: 35px;
}

.stories__info {
	padding-left: 15px;
}

.stories__name {
	font-size: 14px;
	padding-bottom: 7px;
}

.stories__data {
	font-size: 13px;
	font-family: "Lato";
}

.stories__description {
	max-width: 30ch;
	color: #000000;
}

.stories__read {
	color: #000000;
	text-align: center;
	font-family: "Lato";
	font-size: 0.9375rem;
}

.stories__read a {
	color: #8d4fdb;
}

.stories__read a:hover {
	color: #490997;
	transition: 0.3s all;
}

/* Footer */

.footer {
	min-height: 165px;
	padding: 0px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Lato";
	font-size: 0.875rem;
	background-color: #000000;
}

.footer p {
	color: #8b8b8b;
	line-height: 40px;
}

.footer a {
	color: #8d4fdb;
}

.footer a:hover {
	color: #490997;
	transition: 0.3s all;
}
